<li class="card mb-3">
  <div class="row g-0">
    <img src="/images/projects/<%= imgPath %>" alt="<%= imgAlt %>"
      class="col-12 col-sm-4 col-lg-3">
    <div class="col-12 col-sm-8 col-lg-9">
      <div class="card-body">
        <h5 class="card-title"><%= name %></h5>
        <% if (collaborationType) { %>
        <h6 class="card-subtitle mb-2 text-muted"><%= collaborationType %></h6>
        <% } %>
        <% for (const paragraph of description) { %>
        <p class="card-text"><%- paragraph %></p>
        <% } %>
        <% for (const link of links) { %>
        <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer" class="card-link"><%= link.name %></a>
        <% } %>
      </div>
    </div>
  </div>
</li>
