<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <% if (user) { %>
        <th></th>
        <th></th>
        <% } %>
      </tr>
    </thead>

    <tbody>
      <% for (let i = 0; i < contacts.length; i++) { %>
      <% let c = contacts[i]; %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= `${c.lastName}, ${c.firstName}` %></td>
        <td><%= c.phone %></td>
        <td><%= c.email %></td>
        <% if (user) { %>
        <td class="text-center"><a href="/contacts/edit/<%= c._id %>" class="btn btn-sm btn-secondary">Edit</a></td>
        <td class="text-center">
          <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
            data-bs-target="#contacts-delete-confirm-modal" data-contacts-delete-number="<%= i + 1 %>"
            data-contacts-delete-name="<%= c.firstName %> <%= c.lastName %>" data-contacts-delete-id="<%= c._id %>">
            Delete
          </button>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("../../components/contacts/delete-confirm.ejs") %>
